{% extends "base.html"%}
{% block title %}Add New Case{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <br />
      <form
        class="row row-cols-3 align-items-center"
        method="POST"
        action="{{url_for('views.case_add') }}"
        enctype="multipart/form-data"
        id="formID"
      >
        <div class="mb-3">
          <label class="form-label" for="formFirstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="formFirstName"
            name="formFirstName"
            placeholder="Please enter First Name"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="formSurname">Surname</label>
          <input
            type="text"
            class="form-control"
            id="formSurname"
            name="formSurname"
            placeholder="Please enter Surname"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="dob">Date of Birth</label>
          <input type="date" name="dob" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="formGender">Gender</label>
            <input
              type="text"
              class="form-control"
              id="formGender"
              name="formGender"
              placeholder="Please enter Gender"
            />
        </div>
          <div class="mb-3">
            <label class="form-label" for="formPhoneNum">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="formPhoneNum"
              name="formPhoneNum"
              placeholder="Please enter Phone Number"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="formCaseDetail">Location</label>
            <input
              type="text"
              class="form-control"
              id="formCaseDetail"
              name="formCaseDetail"
              placeholder="Please enter Location"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" for="formCaseNotes">Case Notes</label>
            <input
              type="text"
              class="form-control"
              id="formCaseNotes"
              name="formCaseNotes"
              placeholder="Please enter Case Notes"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="formPhysDesc">Physical Description</label>
            <input
              type="text"
              class="form-control"
              id="formPhysDesc"
              name="formPhysDesc"
              placeholder="Please enter Physical Description"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Attachments</label>
            <input
              type="file"
              class="form-control"
              id="formAttachments"
              name="file"
            />
          </div>
          <div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}